<div class="d-flex justify-content-center">
  <div class="col-8">
    <div class="separador"></div>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-files-heading" data-cy="FilesCreateUpdateHeading">Subir Video</h2>
      <div class="separador"></div>
      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Nombre del archivo: </label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="field_name"
            data-cy="name"
            formControlName="name"
            placeholder="Escribe el nombre del video aquí."
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_excerpt">Descripción: </label>
          <textarea
            class="form-control"
            name="excerpt"
            id="field_excerpt"
            data-cy="excerpt"
            formControlName="excerpt"
            placeholder="Escribe una descripción del video que deseas subir aquí."
            maxlength="250"
          ></textarea>
        </div>

        <div class="row mb-3 set-btns">
          <div class="separador"></div>
          <h3>Selecciona el servicio de almacenamiento de video</h3>
          <div class="separador"></div>
        </div>
        <div class="separador-inputs row mb-3">
          <div class="row mb-3">
            <label class="form-label" for="field_url1">Video: </label>
            <input
              type="text"
              class="form-control"
              name="url1"
              id="field_url1"
              data-cy="url1"
              formControlName="url1"
              placeholder="Enlace del video aquí."
            />
            <div class="espacio"></div>
            <a href="https://www.youtube.com/upload" target="_blank" class="btn-extern">Subir a Youtube</a>
          </div>
        </div>
      </div>

      <div class="info-box row mb-3">
        <p>Recuerda leer nuestros términos y condiciones antes de utilizar nuestros servicios.</p>
        <p>¿Necesitas ayuda? Puedes ver este tutorial en nuestro canal de YouTube:</p>
        <!-- Cambiar este link cuando este el tutorial -->
        <a class="linkvideo" target="_blank" href="https://www.youtube.com/watch?v=eBGIQ7ZuuiU&ab_channel=YouGotRickRolled"
          >Tutorial en YouTube</a
        >
      </div>

      <div>
        <button
          type="submit"
          title="Guardar"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>
