<ng-container *ngIf="sections.length > 0; else noSections">
  <div class="d-flex justify-content-center align-items-center wapper">
    <div class="col-8">
      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>
      <div class="cont-cols" *ngIf="courses">
        <div class="col-class">
          <div>
            <h1 data-cy="coursesDetailsHeading" class="titles">
              {{ courses.name }}
            </h1>
          </div>
          <jhi-modal class="modal-cust" [btnLabel]="'Agregar Sección'">
            <jhi-section-update [course]="courses" class="content-modal" [title]="'Agregar Sección'"></jhi-section-update>
          </jhi-modal>

          <ul class="sections-cont">
            <ng-container *ngFor="let section of sections; let i = index">
              <li [ngClass]="isActive === i ? 'active-section' : ''" class="section" (click)="setCurrentSection(section); setActive(i)">
                {{ section.name }}
                <span [ngClass]="isActive === i ? 'd-none' : ''">{{ i + 1 }}</span>
                <ng-container *ngIf="isActive === i">
                  <span><fa-icon [ngClass]="isActive === i ? 'play' : 'd-none'" icon="play"></fa-icon></span>
                </ng-container>
              </li>
            </ng-container>
          </ul>

          <div class="cont-btns">
            <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
              <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
            </button>

            <button type="button" [routerLink]="['/courses', courses.id, 'edit']" class="btn btn-primary">
              <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
            </button>
          </div>
        </div>
        <div class="col-content" *ngIf="currentSection">
          <h1 data-cy="coursesDetailsHeading" class="titles">
            {{ currentSection.name }}
          </h1>
          <!-- start for -->
          <ng-container *ngFor="let file of currentSection.files; let j = index">
            <!-- validation of type video -->
            <ng-container *ngIf="file.type === 'video'">
              <div class="cont-video">
                <iframe
                  width="100%"
                  height="100%"
                  src="https://www.youtube.com/embed/3dHNOWTI7H8"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay;  picture-in-picture;"
                  allowfullscreen
                ></iframe>
              </div>
            </ng-container>
            <!-- end validation of type video -->

            <!-- constant content -->
            <span *ngIf="currentSection.creationDate && j < 1"><b>Fecha de publicación:</b> {{ currentSection.creationDate }}</span>
            <ng-container *ngIf="currentSection.description && j < 1">
              <span><b>Descripción:</b> {{ currentSection.description }}</span>
            </ng-container>
            <!-- end constant content -->

            <!-- start validation of type index -->
            <ng-container *ngIf="file.type === 'index'">
              <span><b>Nombre del Archivo:</b> {{ file.excerpt }}</span>
              <div class="cont-links">
                <span><b>Links:</b></span>
                <a class="btn btn-info text-white" *ngIf="file.url1" href="{{ file.url1 }}" target="_blank"> {{ linkTitle }}</a>
                <a class="btn btn-info text-white" *ngIf="file.url2" href="{{ file.url2 }}" target="_blank"> {{ linkTitle }}</a>
                <a class="btn btn-info text-white" *ngIf="file.url3" href="{{ file.url3 }}" target="_blank"> {{ linkTitle }}</a>


                <!-- <a href="https://www.example.com/my-document.pdf">Link to My Document</a> -->


              </div>

              <!-- Botones de Servicios Varios -->

              <a type="submit" href="/files/{{file.id}}/view" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </a>
              <a type="submit" href="/files/{{file.id}}/edit" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </a>

              <button type="submit" (click)="delete(file.id)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>

            </ng-container>


            <ng-container *ngIf="file.type === 'own'">
              <span><b>Nombre del Archivo:</b> {{ file.excerpt }}</span>
              <div class="cont-links">
                <span><b>Ver Archivo Propio:</b></span>
                <a class="btn btn-info text-white" *ngIf="file.url1" href="{{ file.url1 }}" target="_blank"> {{ linkTitle }}</a>

              </div>

              <!-- Botones de Servicios Varios -->

              <a type="submit" href="/files/{{file.id}}/view" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </a>
              <a type="submit" href="/files/{{file.id}}/edit" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </a>

              <button type="submit" (click)="delete(file.id)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>

            </ng-container>


            <!-- end validation of type index -->
          </ng-container>
          <!-- end for -->
          <!-- constant content -->







          <ng-container *ngIf="filesLength < 1">
            <p>Course {{ courses.id }} Sesction {{ currentSection.id }}</p>
            <jhi-modal class="modal-cust" [btnLabel]="'Agregar files'">
              <jhi-files-manager class="comp-filemanager" [idCourse]="courses.id" [idSection]="currentSection.id"></jhi-files-manager>
            </jhi-modal>

            <span>Esta sección no tiene archivos disponibles o válidos</span>
            <span *ngIf="currentSection.creationDate"><b>Fecha de publicación:</b> {{ currentSection.creationDate }}</span>
            <span><b>Descripción:</b> {{ currentSection.description }}</span>
          </ng-container>
          <!-- end constant content -->






        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noSections>
  <div class="wapper-no-cont">
    <div class="cont-title">
      <h1>Debe de agregar secciónes al curso</h1>

      <jhi-modal class="modal-cust" [btnLabel]="'Agregar Sección'">
        <jhi-section-update [course]="courses" class="content-modal" [title]="'Agregar Sección'"></jhi-section-update>
      </jhi-modal>
      <fa-icon class="icon shake" icon="circle-exclamation"></fa-icon>&nbsp;
    </div>
  </div>
</ng-template>
