$dark: #15537d;
$light: #6dabd5;
$wine: #983f56;
$orange: #de9a38;
$rgbDark: rgba(21, 83, 125, 0.3);
$rgbDark: rgba(21, 83, 125, 0.3);
$rgbLight: rgba(109, 171, 213, 0.3);

.wapper {
  padding: 5rem 0;
}

.cont-cols {
  display: flex;
  gap: 1rem;
  .add-btn {
    background-color: $orange;
    border: none;
  }
}

.col-class,
.col-content {
  width: 100%;
  min-height: 30rem;
}

.col-class {
  max-width: 33.3%;
  gap: 1rem;
  display: flex;
  flex-direction: column;

  h1 {
    color: $dark;
  }

  .sections-cont li:hover {
    background-color: $rgbLight;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .sections-cont span {
    color: $dark;
  }
}

.col-content {
  max-width: 66.6%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    color: $wine;
  }
  .cont-links {
    display: flex;
    gap: 0.5rem;

    .btn-info {
      background-color: #de9a38;
      border: none;
    }
  }
  .cont-video {
    height: 26rem;
  }
  .cont-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.titles {
  font-size: 1.3rem;
  font-weight: 700;
}

.section {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;

  span {
    font-size: 12px;
    font-weight: 700;
    background: #b5bccf;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

b {
  font-weight: bold;
}

.active {
  background-color: $wine !important;
  color: #fff !important;
}

.wapper-no-cont {
  min-height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-title {
  width: 50%;
  height: 50%;
  border: solid 0.5rem $dark;
  padding: 5rem;
  text-align: center;
  border-radius: 1rem;
  h1 {
    color: $dark;
  }
}

.icon {
  font-size: 3rem;
  color: $orange;
}
.play {
  display: flex;
}

.active-section span {
  background-color: #de9a38;
  color: #fff !important;
}

.active-section {
  background-color: $rgbDark !important;
}

.content-modal {
  height: 20rem;
}

.comp-filemanager {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
}

// .modal-cust {
//   max-width: 5rem;
// }
