<div class="d-flex justify-content-center align-items-center wapper">
  <div class="col-8">
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>
    <div class="cont-cols" *ngIf="courses">
      <div class="col-class">
        <div>
          <h1 data-cy="coursesDetailsHeading" class="titles">
            {{ courses.name }}
          </h1>
        </div>

        <ul class="sections-cont">
          <ng-container *ngFor="let section of sections; let i = index">
            <li class="section" (click)="setCurrentSection(section)">
              {{ section.name }}
              <span>{{ i + 1 }}</span>
            </li>
          </ng-container>
        </ul>

        <div class="cont-btns">
          <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
          </button>

          <button type="button" [routerLink]="['/courses', courses.id, 'edit']" class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
          </button>
        </div>
      </div>
      <div class="col-content" *ngIf="currentSection">
        <h1 data-cy="coursesDetailsHeading" class="titles">
          {{ currentSection.name }}
        </h1>
        <ng-container *ngFor="let file of currentSection.files; let j = index">
          <ng-container *ngIf="file.type === 'video'">
            <div class="cont-video">
              <iframe
                width="100%"
                height="100%"
                src="https://www.youtube.com/embed/3dHNOWTI7H8"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay;  picture-in-picture;"
                allowfullscreen
              ></iframe>
            </div>
            <ng-container *ngIf="j < 1">
              <span><b>Description:</b> {{ currentSection.description }}</span>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="file.type === 'index'">
            <div>
              <span><b>Notes:</b> {{ file.excerpt }}</span>
              <div class="cont-links">
                <span *ngIf="file.url1">Link: {{ file.url1 }}</span>
                <span *ngIf="file.url2">Link: {{ file.url2 }}</span>
                <span *ngIf="file.url3">Link: {{ file.url3 }}</span>
              </div>
              <!-- <a href="https://www.example.com/my-document.pdf">Link to My Document</a> -->
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="currentSection.files.length < 1">
          <span><b>Description:</b> {{ currentSection.description }}</span>
        </ng-container>
        <span *ngIf="currentSection.creationDate"><b>Published date:</b> {{ currentSection.creationDate }}</span>
      </div>
    </div>
  </div>
</div>
