<div>
  <h2 id="page-heading" data-cy="NewsHeading">
    <span class="alin d-flex justify-content-center">Noticias</span>

    <div class="d-flex justify-content-start">
      <button class="btn btnEdit" title="Refrescar" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>

      <button
        id="jh-create-entity"
        title="Crear nueva noticia"
        data-cy="entityCreateButton"
        class="btn btnView"
        [routerLink]="['/news/new']"
      >
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="news?.length === 0">
    <span>Ninguna noticia encontrada</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="news && news.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span> Imagen</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Nombre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="excerpt">
            <div class="d-flex">
              <span>Extracto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="creationDate">
            <div class="d-flex">
              <span>Fecha de Creación</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <div class="d-flex">
              <span>Usuario</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let news of news; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/news', news.id, 'view']">{{ news.id }}</a>
          </td>
          <td>{{ news.image }}</td>
          <td>{{ news.name }}</td>
          <td>{{ news.excerpt }}</td>
          <td>{{ news.creationDate | formatMediumDate }}</td>
          <td>
            {{ news.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" title="Ver" [routerLink]="['/news', news.id, 'view']" class="btn btnView" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button type="submit" title="Editar" [routerLink]="['/news', news.id, 'edit']" class="btn btnEdit" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" title="Eliminar" (click)="delete(news)" class="btn btnDelete" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
