// Define las variables de color
$color-principal: #15537d;
$color-secundario: #6dabd5;
$color-alertas: #983f56;
$color-bordes: #de9a38;
$color-fondoBlanc: #dfe2ea;

.titulo {
  color: $color-principal;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 25px;
}

.row.mb-3 input[type='text'],
.row.mb-3 textarea {
  border: 1px solid $color-principal;
  background-color: $color-fondoBlanc;
  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $color-secundario;
  }
}

.row.mb-3 select {
  border: 1px solid $color-principal;
  background-color: $color-fondoBlanc;
  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $color-secundario;
  }
}

button[type='button'],
button[type='submit'] {
  background-color: $color-secundario;
  color: white;
  border-color: $color-secundario;
  &:hover {
    background-color: darken($color-secundario, 10%);
    border-color: darken($color-secundario, 10%);
  }
}

.jhi-alert-error {
  background-color: $color-alertas;
  color: white;
  border-color: $color-alertas;
}

label {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 22px;
  border-radius: 9px;
}
label span {
  display: inline-block;
}

.cloudBotton {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
  border-color: $color-secundario;
}

.cardForm {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 9px;
  border-color: #181d38;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-around;
  margin: 0 auto;
  display: flex;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  align-items: center;
  width: 44rem;
  padding: 0 2rem;
}

.labelForm {
  text-align: left;
}

.divBtn {
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.acortado {
  width: 560px;
}

.form-check-label {
  margin-bottom: 1rem;
}

.separador {
  height: 1px; /* Altura de la línea */
  width: 14rem; /* Longitud de la línea */
  background-color: #15537d; /* Color de la línea */
  margin: 0 auto 1rem auto; /* Establecer los márgenes */
  display: flex;
  align-items: center;
}

.mb-3 {
  // background-color:$color-secundario ;
  // border-radius: 1rem;
}

.centero {
  text-align: center;
}
