<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" class="custom-form align-items-center" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2  data-cy="CoursesCreateUpdateHeading" class="titulo">Crear Curso</h2>
      <div class="separador"> </div>
      <jhi-alert-error></jhi-alert-error>
      <div class="cardForm">


        <!--<div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>-->


        <div class="mb-3">
          <label class="label" for="field_name">Nombre</label>
          <input type="text" class="input" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="label" for="field_excerpt">Sub título</label>
          <input type="text" class="input" name="excerpt" id="field_excerpt" data-cy="excerpt" formControlName="excerpt" />
        </div>

        <div class="mb-3">
          <label class="label" for="field_description">Descripción</label>
          <textarea
            type="text"
            class="textInput"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <!--<div class="row mb-3">
          <label class="form-label" jhiTranslate="studyBuddyApp.courses.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>-->

        <!--<div class="row mb-3">
          <label class="form-label" jhiTranslate="studyBuddyApp.courses.score" for="field_score">Score</label>
          <input type="number" class="form-control" name="score" id="field_score" data-cy="score" formControlName="score" />
        </div>-->

        <!-- <div class="row mb-3">
          <label class="form-label" jhiTranslate="studyBuddyApp.courses.userId" for="field_userId">User Id</label>
          <input type="number" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
        </div> -->

        <!-- <div class="row mb-3">
          <label class="form-label" jhiTranslate="studyBuddyApp.courses.userVotes" for="field_userVotes">User Votes</label>
          <input type="number" class="form-control" name="userVotes" id="field_userVotes" data-cy="userVotes" formControlName="userVotes" />
        </div> -->

        <!-- <div class="row mb-3">
          <label jhiTranslate="studyBuddyApp.courses.user" for="field_users">User</label>
          <select
            class="form-control"
            id="field_users"
            data-cy="user"
            multiple
            name="users"
            formControlName="users"
            [compareWith]="compareUser"
          >
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div> -->

        <div class="mb-3">
          <label class="label" for="field_category">Categoría</label>
          <select
            class="b input"
            id="field_category"
            data-cy="category"
            name="category"
            formControlName="category"
            [compareWith]="compareCategory"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="categoryOption" *ngFor="let categoryOption of categoriesSharedCollection">{{ categoryOption.name }}</option>
          </select>
        </div>



        <div class="mb-3">
          <label class="label" for="field_previewImg">Imagen del curso</label>
          <img id="cloudinaryImg" src="{{ editForm.controls.previewImg.value }}" />
          <jhi-cloudinary-button (urlChanged)="saveUrl($event)" [text]="$any('Subir Foto')" class="cloudBotton"></jhi-cloudinary-button>
        </div>

      </div>

      <div  class ="divBtn">


        <button
          type="button"
          id="cancel-save"
          title="Volver"
          data-cy="entityCreateCancelButton"
          class="btn btnEnrolled"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;
        </button>

        <button
          type="submit"
          title="Guardar"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btnView"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;
        </button>
      </div>
    </form>
  </div>
</div>
