<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-courses-heading" data-cy="CoursesCreateUpdateHeading" jhiTranslate="studyBuddyApp.courses.home.createOrEditLabel">
        Crear o editar Courses
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="studyBuddyApp.courses.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="studyBuddyApp.courses.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="studyBuddyApp.courses.previewImg" for="field_previewImg">Preview Img</label>
          <input
            type="text"
            class="form-control"
            name="previewImg"
            id="field_previewImg"
            data-cy="previewImg"
            formControlName="previewImg"
          />
          <jhi-cloudinary-button></jhi-cloudinary-button>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="studyBuddyApp.courses.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="studyBuddyApp.courses.score" for="field_score">Score</label>
          <input type="number" class="form-control" name="score" id="field_score" data-cy="score" formControlName="score" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="studyBuddyApp.courses.excerpt" for="field_excerpt">Excerpt</label>
          <input type="text" class="form-control" name="excerpt" id="field_excerpt" data-cy="excerpt" formControlName="excerpt" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="studyBuddyApp.courses.userId" for="field_userId">User Id</label>
          <input type="number" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="studyBuddyApp.courses.userVotes" for="field_userVotes">User Votes</label>
          <input type="number" class="form-control" name="userVotes" id="field_userVotes" data-cy="userVotes" formControlName="userVotes" />
        </div>

        <div class="row mb-3">
          <label jhiTranslate="studyBuddyApp.courses.user" for="field_users">User</label>
          <select
            class="form-control"
            id="field_users"
            data-cy="user"
            multiple
            name="users"
            formControlName="users"
            [compareWith]="compareUser"
          >
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="studyBuddyApp.courses.category" for="field_category">Category</label>
          <select
            class="form-control"
            id="field_category"
            data-cy="category"
            name="category"
            formControlName="category"
            [compareWith]="compareCategory"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="categoryOption" *ngFor="let categoryOption of categoriesSharedCollection">{{ categoryOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
