/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f6f9ff;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
}

/*--------------------------------------------------------------
  # Main
  --------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

.item-cont {
  width: 50%;
}

.principalConteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondConteiner {
  width: 100%;
  height: auto;
  flex-direction: row;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-image {
  width: 20%;
  flex-direction: row;
  display: flex;
}
.info {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.imgg {
  width: 100%;
  height: auto;
}

.botones {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.txt-cont {
  width: 40%;
}
