<div>
  <h2 id="page-heading" data-cy="CoursesHeading">
    <div class="alin d-flex justify-content-center font-weight: bold;">
      <span>Cursos Matriculados </span>
    </div>

    <div class="d-flex justify-content-end"></div>
  </h2>
  <!-- lista -->

  <div class="principalConteiner">
    <div class="item-cont" *ngFor="let courses of courses">
      <div class="secondConteiner">
        <div class="card-image">
          <img class="imgg" [src]="courses.previewImg" alt="Nombre del curso {{ courses.description }}" />
        </div>
        <div class="txt-cont">
          <div class="info">
            <h5>
              <p>{{ courses.name }}</p>

              <span>
                <p class="sub">Descripción: {{ courses.description }}</p>
              </span>
              <span>
                <p class="sub">Estado: {{ courses.status }}</p>
              </span>
              <span class="sub"> Dueño: {{ courses.ownerName }} </span>
              <span class="sub" *ngFor="let user of courses.users; let last = last">
                matriculado: {{ user.login }}{{ last ? '' : ', ' }}
              </span>
            </h5>
          </div>
        </div>

        <!-- Botones -->
        <div class="botones">
          <button
            type="submit"
            title="Ver"
            [routerLink]="['/courses', courses.id, 'view']"
            class="btn btnView"
            data-cy="entityDetailsButton"
          >
            <fa-icon icon="eye"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- fin lista  -->

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
</div>
