<!-- <link rel="stylesheet" href="courses.css" /> -->
<div>
  <h2 id="page-heading" data-cy="CoursesHeading">
    <span jhiTranslate="studyBuddyApp.courses.home.title">Courses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="studyBuddyApp.courses.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-courses"
        [routerLink]="['/courses/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="studyBuddyApp.courses.home.createLabel"> Crear nuevo Courses </span>
      </button>
    </div>
  </h2>

  <!-- Start Card -->
  <div class="principalConteiner">
    <div *ngFor="let courses of courses">
      <div class="col-xxl-4 col-md-6">
        <div class="card info-card sales-card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          </div>

          <!-- despliegue de la info del curso  -->
          <div class="card-body">
            <h5 class="card-title">
              <p>{{ courses.name }}</p>
              <span>
                <p>{{ courses.description }}</p>
              </span>
            </h5>
          </div>
          <!-- Imagen del curso -->
          <div class="card-body001">
            <img class="imgg" [src]="courses.previewImg" alt="Nombre del curso {{ courses.description }}" />
          </div>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"></div>
            <div class="ps-3">
              <h6>
                <p>Puntaje: {{ courses.score }}</p>
              </h6>
              <span class="text-success small pt-1 fw-bold">
                <p>Estado: {{ courses.status }}</p>
              </span>
              <span class="text-muted small pt-2 ps-1">
                <p>Creador: {{ courses.userVotes }}</p>
              </span>
            </div>
          </div>
          <button type="submit" [routerLink]="['/courses', courses.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
            <fa-icon icon="eye"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
          </button>
          <button type="submit" [routerLink]="['/courses', courses.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
            <fa-icon icon="pencil-alt"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
          </button>

          <button type="submit" (click)="delete(courses)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
            <fa-icon icon="times"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End  Card -->

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="courses?.length === 0">
    <span jhiTranslate="studyBuddyApp.courses.home.notFound">Ningún Courses encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="courses && courses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.courses.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.courses.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="previewImg">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.courses.previewImg">Preview Img</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.courses.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="score">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.courses.score">Score</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="excerpt">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.courses.excerpt">Excerpt</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col" jhiSortBy="userId">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.courses.userId">User Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->
          <th scope="col" jhiSortBy="userVotes">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.courses.userVotes">User Votes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.courses.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="category.name">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.courses.category">Category</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let courses of courses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/courses', courses.id, 'view']">{{ courses.id }}</a>
          </td>
          <td>{{ courses.name }}</td>
          <td>{{ courses.description }}</td>
          <!-- <img src="{{ courses.previewImg }}" > -->
          <td>{{ courses.previewImg }}</td>
          <td>{{ courses.status }}</td>
          <td>{{ courses.score }}</td>
          <td>{{ courses.excerpt }}</td>
          <td>{{ courses.userVotes }}</td>
          <td>
            <span *ngFor="let user of courses.users; let last = last"> {{ user.login }}{{ last ? '' : ', ' }} </span>
          </td>
          <td>
            <div *ngIf="courses.category">
              <a [routerLink]="['/category', courses.category.id, 'view']">{{ courses.category.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/courses', courses.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/courses', courses.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(courses)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
