/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f6f9ff;
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
}

/*--------------------------------------------------------------
  # Main
  --------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

.principalConteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondConteiner {
  width: 100%;
  height: auto;
  flex-direction: row;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-image {
  width: 200px;
  height: 100px;
  flex-direction: row;
  display: flex;
  margin-top: 21px;
  margin-left: 14px;
  margin-right: 14px;
}
.info {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.imgg {
  width: 100%;
  height: auto;
}
