<div>
  <h2 id="page-heading" data-cy="CoursesHeading">
    <div class="alin d-flex justify-content-center font-weight: bold;">
      <span>Cursos existentes</span>
    </div>
    <ng-form (change)="searchCourse()">
      <div class="text-center">
        <input
          id="searchInputId"
          [(ngModel)]="promptValue"
          name="promptValue"
          type="text"
          class="textInput"
          style="width: 50rem"
          placeholder="Busca un curso por su nombre o creador"
        />
      </div>
    </ng-form>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-courses"
        [routerLink]="['/courses/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Crear nuevo Curso </span>
      </button>
    </div>
  </h2>
  <!-- lista -->

  <div class="principalConteiner">
    <div class="item-cont" *ngFor="let courses of courses">
      <div class="secondConteiner">
        <div class="card-image">
          <img class="imgg" [src]="courses.previewImg" alt="Nombre del curso {{ courses.description }}" />
        </div>
        <div class="txt-cont">
          <div class="info">
            <h5>
              <p class="negrita">{{ courses.name }}</p>

              <span>
                <p class="sub">Descripción: {{ courses.description }}</p>
              </span>
              <span>
                <p class="sub">
                  Estado: <span class="active"> {{ courses.status }} </span>
                </p>
              </span>
              <span class="sub"> Dueño: {{ courses.ownerName }} </span>
            </h5>
          </div>
        </div>

        <!-- Botones -->
        <div class="botones">
          <div *ngFor="let user of courses.users; let last = last">
            <div *ngIf="user.login === (last ? '' : ', ') + user.login"></div>
          </div>

          <button
            type="button"
            id="cancel-save"
            title="Matricular"
            *ngIf="mostrarBoton"
            data-cy="entityCreateCancelButton"
            class="btn btnEnrolled"
            (click)="enrolled(courses)"
          >
            <fa-icon icon="graduation-cap"></fa-icon>
          </button>
          <button
            type="submit"
            title="Ver"
            [routerLink]="['/courses', courses.id, 'view']"
            class="btn btnView"
            data-cy="entityDetailsButton"
          >
            <fa-icon icon="eye"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- fin lista  -->

  <jhi-alert-error></jhi-alert-error>
  <!-- <jhi-alert></jhi-alert> -->

  <div class="wapper-no-cont" id="no-result" *ngIf="courses?.length === 0">
    <div class="cont-title">
      <h1>Aún no se han creado cursos</h1>
      <fa-icon class="icon shake" icon="circle-exclamation"></fa-icon>&nbsp;
    </div>
  </div>
</div>
