<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">Noticias</h6>
      <h1 class="alin mb-5">Noticias Relevantes</h1>
    </div>
    <div class="row g-4">
      <div *ngFor="let new of news" class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item bg-light">
          <div class="overflow-hidden">
            <img class="img-fluid" src="{{ new.image }}" alt="{{ new.title }}" />
          </div>
          <div class="position-relative d-flex justify-content-center" style="margin-top: -23px">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
              <a class="btn btn-primary mx-1" href="/news/1/view">Ver más</a>
            </div>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">{{ new.title }}</h5>
            <p>"{{ new.exerpt }}"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
