<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <div class="separador"></div>
      <ng-content select="[title]"></ng-content>
      <div class="separador"></div>
    </div>
    <div class="row g-4" *ngIf="news.length > 0">
      <div *ngFor="let new of news" class="w-for-5 col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item bg-light myCard">
          <div class="overflow-hidden center-content cust-cont-imgs">
            <img src="{{ new.image }}" alt="{{ new.title }}" />
          </div>
          <div class="position-relative d-flex justify-content-center" style="margin-top: -23px">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
              <a class="btn btn-primary mx-1" href="/courses/{{ new.redirect }}/view">Ver más</a>
            </div>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">{{ new.slideTitle }}</h5>
            <p>"{{ new.slideExerpt }}"</p>
          </div>
        </div>
      </div>
      <div class="team-item">
        <div class="position-relative d-flex justify-content-center" style="margin-top: 3rem">
          <div class="d-flex justify-content-center pt-1 px-5">
            <ng-content select="[myLink]"></ng-content>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-4 pt-5" *ngIf="news.length == 0">
      <div class="col-lg-9 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="alert simple-alert">
          <h3><ng-content select="[warning]"></ng-content></h3>
        </div>
        <div class="position-relative d-flex justify-content-center pt-5" style="margin-top: -5px">
          <div class="d-flex justify-content-center pt-2 px-1">
            <ng-content select="[link]"></ng-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
