<div class="footer container-fluid bg-dark text-center align-items-center text-light footer pt-5 mt-5 wow fadeIn">
  <div class="container align-items-center">
    <a class="navbar-brand flex-column d-flex align-items-center px-4 px-lg-5" routerLink="/">
      <span class="logo-img"></span>
      <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>Study<b>Buddy</b></h2>
    </a>
    <!-- Copyright -->
    <div class="text-center p-3">
      © 2023 Powered by:
      <a class="text-light" target="_blank" href="https://github.com/BitBuildersP3">BuitBuilders</a>
    </div>
  </div>
  <!-- Copyright -->
</div>
