
<div class="eula">
  <h1>Acuerdo de Licencia de Usuario Final (EULA)</h1>
  <p>Última actualización: 20 de abril de 2023</p>

  <h2>1. Concesión de licencia</h2>
  <p>Sujeto a los términos y condiciones de este EULA, BitBuilders le concede una licencia no exclusiva, intransferible y limitada para usar Studdy Buddy para fines educativos y personales. Usted reconoce que Studdy Buddy es propiedad de BitBuilders y que todos los derechos, títulos e intereses en y sobre Studdy Buddy, incluyendo cualquier propiedad intelectual, son propiedad exclusiva de BitBuilders.</p>

  <h2>2. Restricciones de uso</h2>
  <p>Usted reconoce que no puede utilizar Studdy Buddy para ningún propósito ilegal o no autorizado. Además, no puede subir contenido de terceros sin el consentimiento previo y por escrito de los propietarios de los derechos de autor. BitBuilders se reserva el derecho de remover cualquier contenido que infrinja los derechos de autor y copywhright, y bloquear la cuenta del usuario que incumpla con esta restricción. Usted es legalmente responsable de todo el contenido que suba a Studdy Buddy y acepta indemnizar y mantener indemne a BitBuilders y a sus afiliados, empleados, directores y representantes de cualquier demanda, responsabilidad, daño o pérdida que surja como resultado del contenido que suba a Studdy Buddy.</p>

  <h2>3. Modificaciones a Studdy Buddy</h2>
  <p>BitBuilders se reserva el derecho de modificar o discontinuar, temporal o permanentemente, Studdy Buddy o cualquier parte de ella, con o sin previo aviso. Usted acepta que BitBuilders no será responsable ante usted ni ante ningún tercero por cualquier modificación, suspensión o interrupción de Studdy Buddy.</p>

  <h2>4. Exclusión de garantías y limitación de responsabilidad</h2>
  <p>STUDDY BUDDY SE PROPORCIONA "COMO ESTÁ" Y "COMO ESTÁ DISPONIBLE". BITBUILDERS RENUNCIA A TODAS LAS GARANTÍAS Y CONDICIONES, EXPRESAS O IMPLÍCITAS, INCLUIDAS, ENTRE OTRAS, LAS GARANTÍAS DE COMERCIABILIDAD, ADECUACIÓN PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO BITBUILDERS SERÁ RESPONSABLE ANTE USTED NI ANTE NINGÚN TERCERO POR NINGÚN DAÑO INDIRECTO, INCIDENTAL, ESPECIAL, PUNITIVO O CONSECUENTE QUE SURJA DEL USO O LA IMPOSIBILIDAD DE USO DE STUDDY BUDDY.</p>

  <h2>5. Terminación</h2>
  <p>BitBuilders se reserva el derecho de terminar este EULA y su acceso a Studdy Buddy en cualquier momento y por cualquier motivo. Usted puede terminar este EULA en cualquier momento dejando de usar Studdy Buddy.</p>

  <h2>6. Contacto</h2>
  <p>
    Si tiene alguna pregunta sobre estos términos y condiciones, comuníquese
    con nosotros en la siguiente dirección de correo electrónico:
    <a href="mailto:info@studdybuddy.com">info@studdybuddy.com</a>
  </p>
  </div>
