<div>
  <h2 id="page-heading" data-cy="CourseVotesHeading">
    <span jhiTranslate="studyBuddyApp.courseVotes.home.title">Course Votes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="studyBuddyApp.courseVotes.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-course-votes"
        [routerLink]="['/course-votes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="studyBuddyApp.courseVotes.home.createLabel"> Crear nuevo Course Votes </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="courseVotes?.length === 0">
    <span jhiTranslate="studyBuddyApp.courseVotes.home.notFound">Ningún Course Votes encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="courseVotes && courseVotes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idCourse">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.courseVotes.idCourse">Id Course</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="json">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.courseVotes.json">Json</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courseVotes of courseVotes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/course-votes', courseVotes.id, 'view']">{{ courseVotes.id }}</a>
          </td>
          <td>{{ courseVotes.idCourse }}</td>
          <td>{{ courseVotes.json }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/course-votes', courseVotes.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/course-votes', courseVotes.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(courseVotes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
