<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" class="custom-form align-items-center" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-news-heading" data-cy="NewsCreateUpdateHeading" jhiTranslate="studyBuddyApp.news.home.createOrEditLabel">
        Crear o editar Noticias
      </h2>

      <div class="cardForm">
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label">Extracto</label>
          <input type="text" class="form-control" name="excerpt" id="field_excerpt" data-cy="excerpt" formControlName="excerpt" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_image">Imagen</label>
          <jhi-cloudinary-button text="Subir imagen" (urlChanged)="saveImage($event)"></jhi-cloudinary-button>
          <img *ngIf="previewURL != ''" src="{{ previewURL }}" alt="imagen" />
        </div>

        <div class="mb-3">
          <label class="label" for="field_creationDate">Fecha de creación</label>
          <div class="input-group">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="text"
              class="form-control"
              name="creationDate"
              ngbDatepicker
              #creationDateDp="ngbDatepicker"
              formControlName="creationDate"
            />
            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="label" for="field_user">Usuario</label>
          <select class="b input" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>
      </div>

      <div>
        <button
          type="button"
          id="cancel-save"
          title="Cancelar"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;
        </button>

        <button
          type="submit"
          title="Guardar"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;
        </button>
      </div>
    </form>
  </div>
</div>
