<div>
  <h2 id="page-heading" data-cy="PomodoroHeading">
    <span jhiTranslate="studyBuddyApp.pomodoro.home.title">Pomodoros</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="studyBuddyApp.pomodoro.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pomodoro"
        [routerLink]="['/pomodoro/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="studyBuddyApp.pomodoro.home.createLabel"> Crear nuevo Pomodoro </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pomodoros?.length === 0">
    <span jhiTranslate="studyBuddyApp.pomodoro.home.notFound">Ningún Pomodoros encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="pomodoros && pomodoros.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="beginTime">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.pomodoro.beginTime">Begin Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endTime">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.pomodoro.endTime">End Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalTime">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.pomodoro.totalTime">Total Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.pomodoro.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="task">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.pomodoro.task">Task</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="beginBreak">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.pomodoro.beginBreak">Begin Break</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endBreak">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.pomodoro.endBreak">End Break</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalBreak">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.pomodoro.totalBreak">Total Break</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <div class="d-flex">
              <span jhiTranslate="studyBuddyApp.pomodoro.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pomodoro of pomodoros; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pomodoro', pomodoro.id, 'view']">{{ pomodoro.id }}</a>
          </td>
          <td>{{ pomodoro.beginTime | formatMediumDate }}</td>
          <td>{{ pomodoro.endTime | formatMediumDate }}</td>
          <td>{{ pomodoro.totalTime }}</td>
          <td>{{ pomodoro.status }}</td>
          <td>{{ pomodoro.task }}</td>
          <td>{{ pomodoro.beginBreak | formatMediumDate }}</td>
          <td>{{ pomodoro.endBreak | formatMediumDate }}</td>
          <td>{{ pomodoro.totalBreak }}</td>
          <td>
            {{ pomodoro.user?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pomodoro', pomodoro.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/pomodoro', pomodoro.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(pomodoro)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
