<div class="margint d-flex justify-content-center">
  <div class="">
    <div *ngIf="events">
      <h2 data-cy="eventsDetailsHeading">
        <span><fa-icon icon="file-lines"></fa-icon> {{ events.name }}</span>
      </h2>
      <div class="separador"></div>
      <hr />
      <div class="cardForm">
        <dl class="row-md jh-entity-details">
          <!-- div en donde se valida si el usuario es parte del evento para mostarle la ubicación y el enlace respectivo -->
          <ng-container *ngIf="mostrarAtributos">
            <dt>
              <fa-icon icon="video"></fa-icon>
            </dt>
            <dd>
              <a class="btnEnlace" href="{{ events.url }}" target="_blank">Abrir enlace</a>
            </dd>
            <dt>
              <span>Lugar: </span>
            </dt>
            <dd>
              <span>{{ events.address }} </span>
            </dd>
          </ng-container>
          <dt>
            <span>Autor: </span>
          </dt>
          <dd>
            <span>{{ events.user?.login }}</span>
          </dd>
          <dt><span>Descripción: </span></dt>
          <dd>
            <span>{{ events.description }}</span>
          </dd>
          <dt><span>Fecha de Inicio:</span></dt>
          <dd>
            <span>{{ events.startDate | formatMediumDate }}</span>
          </dd>
          <dt><span>Fecha de Finalización: </span></dt>
          <dd>
            <span>{{ events.endDate | formatMediumDate }}</span>
          </dd>
        </dl>
      </div>
      <div class="separador"></div>

      <button title="Volver" type="submit" (click)="previousState()" class="btn btnEdit btnCustEdit" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span></span>
      </button>
      <ng-container *ngIf="mostrarEditar">
        <button title="Editar" type="button" [routerLink]="['/events', events.id, 'edit']" class="btn btnEdit">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span></span>
        </button>
      </ng-container>
    </div>
  </div>
</div>
