<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="events">
      <h2 data-cy="eventsDetailsHeading"><span jhiTranslate="studyBuddyApp.events.detail.title">Events</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ events.id }}</span>
        </dd>
        <dt><span jhiTranslate="studyBuddyApp.events.name">Name</span></dt>
        <dd>
          <span>{{ events.name }}</span>
        </dd>
        <dt><span jhiTranslate="studyBuddyApp.events.description">Description</span></dt>
        <dd>
          <span>{{ events.description }}</span>
        </dd>
        <dt><span jhiTranslate="studyBuddyApp.events.startDate">Start Date</span></dt>
        <dd>
          <span>{{ events.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="studyBuddyApp.events.endDate">End Date</span></dt>
        <dd>
          <span>{{ events.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="studyBuddyApp.events.url">Url</span></dt>
        <dd>
          <span>{{ events.url }}</span>
        </dd>
        <dt><span jhiTranslate="studyBuddyApp.events.status">Status</span></dt>
        <dd>
          <span>{{ events.status }}</span>
        </dd>
        <dt><span jhiTranslate="studyBuddyApp.events.address">Address</span></dt>
        <dd>
          <span>{{ events.address }}</span>
        </dd>
        <dt><span jhiTranslate="studyBuddyApp.events.user">User</span></dt>
        <dd>
          <span>{{ events.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/events', events.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
