<div>
  <h2 id="page-heading" data-cy="CoursesHeading">
    <div class="htx container-text d-flex justify-content-center font-weight: bold ;">
      <h1>Perfil Público</h1>
    </div>

    <div class="d-flex justify-content-end"></div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
</div>

<aside class="profile-card">
  <header></header>

  <div class="profile-bio" *ngIf="extraUserInfo">
    <div class="card-image">
      <img class="imgg" [src]="extraUserInfo.profilePicture" alt="Usuario {{ extraUserInfo.user?.login }}" />
    </div>

    <h1>
      <p>
        <span class="sub black">User: {{ extraUserInfo.user?.login }}</span>
      </p>
    </h1>
    <p>
      <span class="sub">Id: {{ extraUserInfo.id }}</span>
    </p>
    <p>
      <span class="sub">Grado: {{ extraUserInfo.degree }}</span>
    </p>
    <p>
      <span class="sub">Puntaje: {{ extraUserInfo.score }} </span>
    </p>
    <p>
      <span class="sub">Votos de usuario: {{ extraUserInfo.userVotes }} </span>
    </p>

    <div class="botones">
      <button type="submit" value="volver" (click)="previousState()" class="btn" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;
      </button>
    </div>
  </div>
</aside>
<!-- that’s all folks! -->
