<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px">
        <div class="position-relative h-100">
          <img class="img-fluid position-absolute w-100 h-100" src="../../../content/images/about.jpg" alt="" style="object-fit: cover" />
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
        <h6 class="section-title bg-white text-start text-primary pe-3">Acerca de nosotros</h6>
        <h1 class="mb-4">Bienvenido a Study Buddy</h1>
        <p class="mb-4">
          Somos un equipo de profesionales apasionados por el aprendizaje y comprometidos con proporcionar a estudiantes y académicos una
          plataforma donde puedan acceder a recursos educativos de calidad.
        </p>
        <div class="row gy-2 gx-4 mb-4">
          <div class="col-sm-6">
            <p class="mb-0"><fa-icon class="arrows-about" icon="arrow-right"></fa-icon>Instructores capacitados</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><fa-icon class="arrows-about" icon="arrow-right"></fa-icon>Material centralizado</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><fa-icon class="arrows-about" icon="arrow-right"></fa-icon>Foros de ayuda</p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0"><fa-icon class="arrows-about" icon="arrow-right"></fa-icon>Herramientas de trabajo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
