<div class="m-5">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-md-8 center-content flex-column" *ngIf="account$ | async as account">
      <h2>
        Contraseña de <strong class="txt-dark-blue">{{ account.login }}</strong>
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>¡La contraseña ha sido cambiada!</strong>
      </div>

      <div class="alert alert-danger" *ngIf="error"><strong>¡Ha ocurrido un error!</strong> La contraseña no se ha podido cambiar.</div>

      <div class="alert alert-danger" *ngIf="doNotMatch">¡La contraseña y la confirmación de contraseña no coinciden!</div>

      <form
        name="form"
        class="form-styles custom-form align-items-center ng-untouched ng-pristine ng-valid w-100"
        role="form"
        (ngSubmit)="changePassword()"
        [formGroup]="passwordForm"
      >
        <div class="mb-3">
          <label class="form-label" for="currentPassword">Contraseña actual</label>
          <input
            type="password"
            class="form-control"
            id="currentPassword"
            name="currentPassword"
            placeholder="{{ 'global.form.currentpassword.placeholder' | translate }}"
            formControlName="currentPassword"
            data-cy="currentPassword"
          />

          <div
            *ngIf="
              passwordForm.get('currentPassword')!.invalid &&
              (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('currentPassword')?.errors?.required">
              Se requiere que ingrese una contraseña.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="newPassword">Nueva contraseña</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
            formControlName="newPassword"
            data-cy="newPassword"
          />

          <div
            *ngIf="
              passwordForm.get('newPassword')!.invalid &&
              (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
              Se requiere que ingrese una contraseña.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
              Se requiere que su contraseña tenga por lo menos 4 caracteres
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
              Su contraseña no puede tener más de 50 caracteres
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
        </div>

        <div class="mb-3">
          <label class="form-label" for="confirmPassword">Confirmación de la nueva contraseña</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
            formControlName="confirmPassword"
            data-cy="confirmPassword"
          />

          <div
            *ngIf="
              passwordForm.get('confirmPassword')!.invalid &&
              (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
              Se requiere que confirme la contraseña.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
              Se requiere que su contraseña de confirmación tenga por lo menos 4 caracteres
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
              Su contraseña de confirmación no puede tener más de 50 caracteres
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="passwordForm.invalid" class="btn btnSave" data-cy="submit">Guardar</button>
      </form>
    </div>
  </div>
</div>
