<div>
  <h2 id="page-heading" data-cy="FilesHeading">
    <span class="alin d-flex justify-content-center">Archivos Existentes </span>

    <div class="d-flex justify-content-start">
      <button class="btn btnEdit" title="Refrescar" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>

      <!-- Se anula el crear desde esta pagina por motivos de seguridad y persistencia
      <!--
      <button id="jh-create-entity" title="Agregar archivo" data-cy="entityCreateButton" class="btn btnView" [routerLink]="['/files/new']">
        <fa-icon icon="plus"></fa-icon>
      </button>
      -->
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="files?.length === 0">
    <span>Ningún archivo encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="files && files.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span>Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="url1">
            <div class="d-flex">
              <span>Url 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="url2">
            <div class="d-flex">
              <span>Url 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="url3">
            <div class="d-flex">
              <span>Url 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Nombre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="excerpt">
            <div class="d-flex">
              <span>Extracto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="publishDate">
            <div class="d-flex">
              <span>Fecha de publicación</span>
            </div>
          </th>
          <th scope="col" jhiSortBy="section.id">
            <div class="d-flex">
              <span>Clase</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let files of files; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/files', files.id, 'view']">{{ files.id }}</a>
          </td>
          <td>{{ files.type }}</td>
          <td>{{ files.url1 }}</td>
          <td>{{ files.url2 }}</td>
          <td>{{ files.url3 }}</td>
          <td>{{ files.status }}</td>
          <td>{{ files.name }}</td>
          <td>{{ files.excerpt }}</td>
          <td>{{ files.publishDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="files.section">
              <a [routerLink]="['/section', files.section.id, 'view']">{{ files.section.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                title="Ver"
                [routerLink]="['/files', files.id, 'view']"
                class="btn btnView"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                type="submit"
                title="Editar"
                [routerLink]="['/files', files.id, 'edit']"
                class="btn btnEdit"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button type="submit" title="Eliminar" (click)="delete(files)" class="btn btnDelete" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
