<div>
  <h2 id="page-heading" data-cy="EventsHeading">
    <span class="alin d-flex justify-content-center">Eventos</span>

    <div class="d-flex justify-content-start">
      <button class="btn btnEdit" title="Refrescar" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>

      <button id="jh-create-entity" title="Añadir" data-cy="entityCreateButton" class="btn btnView" [routerLink]="['/events/new']">
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
  </h2>

  <form (ngSubmit)="searchEvent()">
    <div class="row pt-4">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <input
          id="searchInputId"
          [(ngModel)]="promptValue"
          name="promptValue"
          type="text"
          class="textInput col-4"
          style="width: 100%"
          placeholder="Busca un evento por su nombre"
        />
      </div>
      <div class="col-4 align-bottom">
        <button type="submit" title="Buscar" name="submit" id="save-entity" data-cy="entityCreateSaveButton" class="btn m-3">
          <fa-icon icon="search"></fa-icon>&nbsp;
        </button>
      </div>
    </div>
  </form>

  <!-- Lista de cards para eventos - INICIO -->

  <div class="principalConteiner mt-5">
    <div class="item-cont" *ngFor="let events of events">
      <div class="secondConteiner">
        <div class="txt-cont">
          <div class="info">
            <h5>
              <p class="negrita">{{ events.name }}</p>

              <span>
                <div class="descrip-recuadro">
                  <p class="sub tilesub">Descripción:</p>
                  <p class="sub descrsub">{{ events.description }}</p>
                </div>
              </span>
              <span>
                <p class="sub">
                  Inicio: <span class="active"> {{ events.startDate!.toString().slice(6, 16) }} </span>
                  <span class="sub"> Fin: {{ events.endDate!.toString().slice(6, 16) }} </span>
                </p>
              </span>
            </h5>
          </div>
        </div>

        <!-- Botones - Inicio -->
        <div class="botones">
          <button type="submit" title="Ver" [routerLink]="['/events', events.id, 'view']" class="btn btnView" data-cy="entityDetailsButton">
            <fa-icon icon="eye"></fa-icon>
          </button>

          <button
            type="button"
            id="cancel-save"
            title="Matricular"
            data-cy="entityCreateCancelButton"
            class="btn btnEnrolled"
            (click)="updateAddedList(events)"
          >
            <fa-icon icon="graduation-cap"></fa-icon>
          </button>
        </div>
        <!-- FIN - Botones  -->
      </div>
    </div>
  </div>

  <!-- FIN - Lista de cards para eventos -->

  <jhi-alert-error></jhi-alert-error>

  <div class="alert alert-warning" id="no-result" *ngIf="events?.length === 0">
    <span jhiTranslate="studyBuddyApp.events.home.notFound">Ningún evento encontrado</span>
  </div>
</div>
