.item-cont {
  // height: 1.5 rem;
  width: 40%;
}
.secondConteiner {
  min-height: 18rem;
}
.btn {
  margin: 0;
}

.btnDelete {
  padding: 0.4rem 0.9rem;
}

.color-w {
  color: #fff;
}

.botones button {
  color: #fff;
}
