<div class="p-5">
  <div class="d-flex justify-content-center flex-column align-items-center p-4">
    <h2 id="page-heading" data-cy="ForoEntityHeading">
      <strong>Peticiones de temas para el foro </strong>
      <button class="btn btnEdit color-w" title="Refrescar Tabla" (click)="load()" [disabled]="isLoading">
        <fa-icon class="" icon="sync" [spin]="isLoading"></fa-icon>
      </button>
    </h2>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="foroEntities?.length === 0">
    <span jhiTranslate="studyBuddyApp.foroEntity.home.notFound">Ningún Foro Entities encontrado</span>
  </div>

  <div class="" id="entities" *ngIf="foroEntities && foroEntities.length > 0">
    <div class="principalConteiner">
      <div class="item-cont" *ngFor="let foroEntity of filteredArray">
        <div class="secondConteiner w-100 flex-column align-items-center p-4 justify-content-center">
          <div class="info flex-column">
            <ng-container *ngFor="let spreaded of foroEntity.json">
              <p>{{ spreaded }}</p>
            </ng-container>
          </div>

          <!-- Botones -->
          <div class="botones">
            <button type="submit" title="Ver" (click)="approve()" class="btn btnActive" data-cy="entityDetailsButton">
              <fa-icon icon="check"></fa-icon>
            </button>
            <button type="submit" (click)="delete(foroEntity)" class="btn btnDelete" data-cy="entityDeleteButton">
              <fa-icon class="" icon="times"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div *ngFor="let foroEntity of foroEntities">
      <p>{{ foroEntity.id }}</p>
    </div> -->
  </div>
</div>
