<form name="editForm" class="custom-form align-items-center edit-w" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <h2 id="jhi-section-heading" data-cy="SectionCreateUpdateHeading">{{ title }}</h2>

  <div class="cardForm">
    <jhi-alert-error></jhi-alert-error>

    <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
      <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
      <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
    </div>

    <div class="row mb-3">
      <label class="form-label" for="field_name">Nombre</label>
      <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
    </div>

    <div class="row mb-3">
      <label class="form-label" for="field_description">Descripción</label>
      <input
        type="text"
        class="form-control"
        name="description"
        id="field_description"
        data-cy="description"
        formControlName="description"
      />
    </div>

    <div class="row mb-3">
      <label class="form-label" for="field_excerpt">Detalle</label>
      <input type="text" class="form-control" name="excerpt" id="field_excerpt" data-cy="excerpt" formControlName="excerpt" />
    </div>
  </div>

  <div>
    <button
      type="submit"
      title="Guardar"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      [disabled]="editForm.invalid || isSaving"
      class="btn btn-primary d-flex"
      (click)="triggerCustomEvent()"
    >
      <fa-icon icon="save"></fa-icon>
    </button>
  </div>
</form>
