<nav class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <div class="list-group-item py-2 ripple">
        <img
          class="rounded-circle"
          alt="avatar1"
          src="https://res.cloudinary.com/dwxpyowvn/image/upload/w_100,h_100,c_scale/v1679364360/cld-sample-3.jpg"
        />
      </div>

      <div class="list-group-item py-2 ripple">
        <jhi-cloudinary-button>text</jhi-cloudinary-button>
      </div>
    </div>
  </div>
</nav>
