<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="files">
      <h2 data-cy="filesDetailsHeading"><span >Archivo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span >ID:</span></dt>

        <dd>
          <span>{{ files.id }}</span>
        </dd>


        <dt><span >Nombre:</span></dt>
        <dd>
          <span>{{ files.name }}</span>
        </dd>

        <dt><span >Descripción:</span></dt>
        <dd>
          <span>{{ files.excerpt }}</span>
        </dd>


        <dt><span >Fecha de subida:</span></dt>
        <dd>
          <span>{{ files.publishDate | formatMediumDate }}</span>
        </dd>



        <ng-container *ngIf=" files.type === 'index' ">



          <dt><span >Url 1:</span></dt>
          <dd>
            <span>{{ files.url1 }}</span>
          </dd>

          <dt><span >Url 2:</span></dt>
          <dd>
            <span>{{ files.url2 }}</span>
          </dd>

          <dt><span >Url 3:</span></dt>
          <dd>
            <span>{{ files.url3 }}</span>
          </dd>

        </ng-container>

        <ng-container *ngIf=" files.type === 'own' || files.type === 'video' ">


          <dt><span >Url 1:</span></dt>
          <dd>
            <span>{{ files.url1 }}</span>
          </dd>

        </ng-container>


        <dt style="display: none;" ><span>Clase:</span></dt>
        <dd  style="display: none;">
          <div *ngIf="files.section">
            <a [routerLink]="['/section', files.section.id, 'view']">{{ files.section.id }}</a>
          </div>
        </dd>

        <dt  style="display: none;"><span >Estado:</span></dt>
        <dd style="display: none;">
          <span>{{ files.status }}</span>
        </dd>

        <dt  style="display: none;"><span >Tipo:</span></dt>
        <dd  style="display: none;">
          <span>{{ files.type }}</span>
        </dd>

      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span >Volver</span>
      </button>

      <button type="button" [routerLink]="['/files', files.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span >Editar</span>
      </button>
    </div>
  </div>
</div>
