<!-- lista -->
<h2 class="d-flex justify-content-center" data-cy="filesDetailsHeading"><span>Archivo</span></h2>
<jhi-alert-error></jhi-alert-error>
<jhi-alert></jhi-alert>

<div class="principalConteiner">
  <div class="item-cont" *ngIf="files">
    <div class="secondConteiner">
      <div class="card-image">
        <img class="imgg" [src]="" alt="" />
      </div>
      <div class="txt-cont">
        <div class="info">
          <h5>
            <p>Nombre : {{ files.name }}</p>

            <span>
              <p class="sub">Tipo:{{ files.type }}</p>
            </span>
            <span>
              <p class="sub">Url 1: {{ files.url1 }}</p>
            </span>
            <span class="sub"> Url 2: {{ files.url2 }} </span>
            <span class="sub">Url 3: {{ files.url3 }} </span>

            <span class="sub">Estado: {{ files.status }} </span>
            <span class="sub">Extracto: {{ files.excerpt }} </span>
            <span class="sub">Fecha de publicación: {{ files.publishDate | formatMediumDate }} </span>
            <span>Clase</span>
            <div *ngIf="files.section">
              <a [routerLink]="['/section', files.section.id, 'view']">{{ files.section.id }}</a>
            </div>
          </h5>
        </div>
      </div>

      <!-- Botones -->
      <div class="botones"></div>
    </div>
  </div>
</div>
<!-- fin lista  -->

<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="files">
      <button type="submit" title="Volver" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;
      </button>
      <button type="button" title="Editar" [routerLink]="['/files', files.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;
      </button>
    </div>
  </div>
</div>
