<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-foro-entity-heading" data-cy="ForoEntityCreateUpdateHeading">Solicitar nuevo tema para el foro</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="studyBuddyApp.foroEntity.id" for="field_id">Id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="editForm.get('id')!.value != null"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="studyBuddyApp.foroEntity.json" for="field_json">Json</label>
          <input type="text" class="form-control" name="json" id="field_json" data-cy="json" formControlName="json" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
