<div class="d-flex justify-content-center align-items-center mt-5">
  <form class="custom-form" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="foroEntityForm">
    <h2 id="jhi-foro-entity-heading" data-cy="ForoEntityCreateUpdateHeading">Solicitar nuevo tema para el foro</h2>

    <div class="mb-3">
      <jhi-alert-error></jhi-alert-error>

      <div class="row mb-3">
        <label class="form-label" for="name">Nombre del tema</label>
        <input type="text" class="form-control" name="name" id="name" data-cy="name" formControlName="name" />
      </div>

      <div class="row mb-3">
        <label class="form-label" for="purpose">Proposito del tema</label>
        <textarea type="textarea " class="textInput" name="json" id="purpose" data-cy="purpose" formControlName="purpose"></textarea>
      </div>
    </div>

    <div>
      <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
      </button>

      <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" class="btn btn-primary">
        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
      </button>
    </div>
  </form>
</div>
