table {
  background-color: #59A8D9;
  border-radius: 10px;
}.table-striped

 table-responsive{
  background-color: #59A8D9;
  border-radius: 10px;
}
th, td {
  border: 3px solid #275D8C;
  padding: 10px;
}

th {
  background-color: #275D8C;
  color: white;
}

tr:nth-child(even) {
  background-color: #D8E8F2;
}

tr:hover {
  background-color: #8198A6;
  color: white;
}

.btn-primary {
  background-color: #275D8C;

}

.btn-success {
  background-color: #275D8C;
  color: white;

}

.btn-danger {
  background-color: #A67665;

}

.titulo {
  font-weight: bold;
  text-align: center;
  color: #59A8D9;
}
