<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="foroEntity">
      <h2 data-cy="foroEntityDetailsHeading"><span jhiTranslate="studyBuddyApp.foroEntity.detail.title">Foro Entity</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="studyBuddyApp.foroEntity.id">Id</span></dt>
        <dd>
          <span>{{ foroEntity.id }}</span>
        </dd>
        <dt><span jhiTranslate="studyBuddyApp.foroEntity.json">Json</span></dt>
        <dd>
          <span>{{ foroEntity.json }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/foro-entity', foroEntity.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
