<div>
  <h2 id="page-heading" data-cy="SectionHeading">
    <span class="alin d-flex justify-content-center">Clases Existentes</span>

    <div class="d-flex justify-content-start">
      <button class="btn btnEdit" title="Refrescar" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>
    </div>
  </h2>

  <div class="alert alert-warning" id="no-result" *ngIf="sections?.length === 0">
    <span jhiTranslate="studyBuddyApp.section.home.notFound">Ningún Sections encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="sections && sections.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Nombre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span>Descripción</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="excerpt">
            <div class="d-flex">
              <span>Extracto</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="creationDate">
            <div class="d-flex">
              <span>Fecha de Creación</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="time">
            <div class="d-flex">
              <span>Tiempo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="courses.id">
            <div class="d-flex">
              <span>Curso</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let section of sections; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/section', section.id, 'view']">{{ section.id }}</a>
          </td>
          <td>{{ section.name }}</td>
          <td>{{ section.description }}</td>
          <td>{{ section.excerpt }}</td>
          <td>{{ section.creationDate | formatMediumDate }}</td>
          <td>{{ section.time }}</td>
          <td>{{ section.status }}</td>
          <td>
            <div *ngIf="section.courses">
              <a [routerLink]="['/courses', section.courses.id, 'view']">{{ section.courses.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                title="Ver"
                [routerLink]="['/section', section.id, 'view']"
                class="btn btnView"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>
              <button type="submit" title="Eliminar" (click)="delete(section)" class="btn btnDelete" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
