.principalConteiner {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondConteiner {
  width: 100%;
  height: auto;
  flex-direction: row;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
