<div>
  <div class="principalConteiner">
    <div class="secondConteiner">
      <div class="col-md-8">
        <h1>Activación</h1>

        <div class="alert alert-success" *ngIf="success">
          <span><strong>Su cuenta ha sido activada.</strong> Por favor, </span>
          <a class="alert-link" routerLink="/login">iniciar sesión</a>.
        </div>

        <div class="alert alert-danger" *ngIf="error">
          <strong>Su cuenta no pudo ser activada.</strong> Por favor, utilice el formulario de inscripción para registrarse.
        </div>
      </div>
    </div>
  </div>
</div>
