<nav data-cy="navbar" class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center px-4 px-lg-5" routerLink="/landing" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>Study<b>Buddy</b></h2>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
      <ul class="navbar-nav ms-auto p-4 p-lg-0">
        <!--        cloudinary and profile pic -->
        <li
          *ngSwitchCase="true"
          class="nav-item pointer pad-2"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <jhi-cloudinary-button [text]="$any('conf. Foto')" (urlChanged)="updateProfileImg($event)"></jhi-cloudinary-button>
          <img (click)="openModal()" class="profile-image rounded-circle" src="{{ profileImg }}" />
        </li>
        <!--        Boton de inicio que aparece sin iniciar sesion-->
        <li class="nav-item" *ngSwitchCase="false" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span jhiTranslate="global.menu.home">Inicio</span>
            </span>
          </a>
        </li>

        <li class="nav-item" *ngSwitchCase="true" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/landing" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span jhiTranslate="global.menu.home">Inicio</span>
            </span>
          </a>
        </li>
        <li class="nav-item" *ngSwitchCase="true" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/courses" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="book"></fa-icon>
              <span>Cursos</span>
            </span>
          </a>
        </li>
        <li class="nav-item" *ngSwitchCase="true" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/events" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="calendar-alt"></fa-icon>
              <span>Eventos</span>
            </span>
          </a>
        </li>
        <li
          *ngSwitchCase="true"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span>Mis cosas</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="courses/myCourses"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Mis cursos</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="courses/enrolled"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Cursos Matriculados</span>
              </a>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
              <a
                class="dropdown-item"
                routerLink="category"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Categoria</span>
              </a>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
              <a
                class="dropdown-item"
                routerLink="admin/user-management"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Gestion de usuarios</span>
              </a>
            </li>
          </ul>
        </li>
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.userManagement">Gestión de usuarios</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.metrics">Métricas</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.health">Salud</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.configuration">Configuración</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.logs">Logs</span>
              </a>
            </li>
            <li *ngIf="openAPIEnabled">
              <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.apidocs">API</span>
              </a>
            </li>
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="nav-link dropdown-toggle btn btn-primary py-4 px-lg-5 d-none d-lg-block"
            ngbDropdownToggle
            href="javascript:void(0);"
            id="account-menu"
            data-cy="accountMenu"
          >
            <span *ngIf="!account?.imageUrl">
              <fa-icon icon="user"></fa-icon>
              <span jhiTranslate="global.menu.account.main">Cuenta</span>
            </span>
            <span *ngIf="account?.imageUrl">
              <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/settings"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="settings"
              >
                <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
                <span>Perfil</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/password"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="passwordItem"
              >
                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.password">Contraseña</span>
              </a>
            </li>
            <!-- *ngSwitchCase="true" -->
            <li *ngIf="!account?.authorities?.includes('ROLE_ADMIN') && account?.login != null">
              <a class="dropdown-item" routerLink="foro-entity/new" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="plus" [fixedWidth]="true"></fa-icon>

                <span>Tema para foro</span>
              </a>
            </li>

            <li *ngIf="account?.authorities?.includes('ROLE_ADMIN') && account?.login != null">
              <a class="dropdown-item" routerLink="foro-entity" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="list" [fixedWidth]="true"></fa-icon>
                <span>Peticiones de temas</span>
              </a>
            </li>

            <li *ngSwitchCase="true">
              <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.logout">Cerrar la sesión</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.login">Iniciar sesión</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a
                class="dropdown-item"
                routerLink="account/register"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="register"
              >
                <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.register">Crear una cuenta</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <ng-container *ngIf="account">
    <div class="floating-btn-foro bubble box-shadow" (click)="setOpenForo()">
      <strong class="text-light">Foro</strong>
    </div>
    <div *ngIf="isOpenForo" class="foro-cont box-shadow">
      <div class="bg-white top-close-bar" (click)="setOpenForo()">
        <a class="close-foro"> <fa-icon icon="angle-down"></fa-icon></a>
      </div>
      <iframe [src]="safeUrl" width="400px" height="600px"></iframe>
    </div>
  </ng-container>
</nav>
