.service-item * {
  transition: 0.5s;
}
.service-item {
  height: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.content-modal {
  height: 50rem;
  width: 50rem;
}

.separador {
  height: 1px; /* Altura de la línea */
  width: 100%; /* Longitud de la línea */
  background-color: #15537d; /* Color de la línea */
  margin-bottom: 1rem;
  align-content: center;
}
h5,
.h5 {
  font-size: 2.25rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #181d38;
}

.textContent {
  min-height: 30rem;
}

fa-icon {
  font-size: 1.5rem;
  color: #3e8acc;
}
