<div class="row">
  <!-- <h1 class="display-4"><span jhiTranslate="home.title">¡Bienvenido!</span> </h1> -->
  <!-- <jhi-cloudinary-button></jhi-cloudinary-button> -->
  <!-- <p class="lead" jhiTranslate="home.subtitle">Esta es su página de inicio</p> -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <h1>Bienvenidos a Study Buddy</h1>
          <h2>
            Somos una plataforma de aprendizaje en línea, con la finalidad de brindar acceso a cursos con amplia variedad para ayudar a las
            personas a adquirir nuevas habilidades y conocimientos de manera flexible y accesible.
          </h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a class="btn-get-started scrollto">
              <a class="a-link" (click)="login()">Iniciar sesión</a>
            </a>
            <span></span>

            <a class="glightbox btn-watch-video">
              <i class="bi bi-play-circle"></i>
              <a class="a-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Crea una cuenta</a
              ><span></span
            ></a>
          </div>

          <jhi-files-manager [idCourse]="1" [idSection]="2"></jhi-files-manager>
          <!-- <div [ngSwitch]="account !== null">
            <div class="alert alert-success" *ngSwitchCase="true">
              <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                [translateValues]="{ username: account.login }">Está conectado como "{{ account.login }}".
              </span>
            </div>

            <div class="alert" *ngSwitchCase="false">
            </div>

            <div class="alert " *ngSwitchCase="false">
              <span jhiTranslate="global.messages.info.register.noaccount">¿Aún no tienes una cuenta?</span>&nbsp;
            </div>
          </div> -->
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../../content/images/hero-img.png" class="img-fluid animated" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->
</div>
