/********** Template CSS **********/
:root {
  --blue: #15537d;
  --skyBlue: #6dabd5;
  --red: #983f56;
  --grey: #dfe2e4;
  --orange: #de9a38;
  --green: #67b83d;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}
.color {
  background-color: #dfe2e4 !important;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  transition: 0.5s;
}

.btnView {
  background-color: var(--skyBlue) !important;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 1rem;
}
.btnSave {
  background-color: var(--skyBlue) !important;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 1rem;
}
.btnEdit {
  background-color: var(--blue) !important;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 1rem;
}
.btnDelete {
  background-color: #983f56 !important;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-left: 1rem;
}
.btnEnrolled {
  background-color: var(--grey) !important;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

.btnActive {
  background-color: var(--green) !important;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-left: 1rem;
}
.btnBlock {
  background-color: var(--red) !important;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-left: 1rem;
}
.btnBack {
  background-color: var(--grey) !important;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-left: 1rem;
}
.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 0px;
}

/*** Navbar ***/

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-light .navbar-nav {
    border-top: 1px solid #eeeeee;
  }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 500;
}

.navbar-light.sticky-top {
  top: -100px;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .dropdown-menu.fade-down {
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    transform: rotateX(0deg);
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header carousel ***/
@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
    position: relative;
    min-height: 500px;
  }

  .header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  font-size: 22px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background: linear-gradient(rgba(24, 29, 56, 0.7), rgba(24, 29, 56, 0.7)), url(../img/carousel-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-inner {
  background: rgba(15, 23, 43, 0.7);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.section-title::before {
  position: absolute;
  content: '';
  width: calc(100% + 80px);
  height: 2px;
  top: 4px;
  left: -40px;
  background: var(--primary);
  z-index: -1;
}

.section-title::after {
  position: absolute;
  content: '';
  width: calc(100% + 120px);
  height: 2px;
  bottom: 5px;
  left: -60px;
  background: var(--primary);
  z-index: -1;
}

.section-title.text-start::before {
  width: calc(100% + 40px);
  left: 0;
}

.section-title.text-start::after {
  width: calc(100% + 60px);
  left: 0;
}

/*** Service ***/
.service-item {
  background: var(--light);
  transition: 0.5s;
}

.service-item:hover {
  margin-top: -10px;
  background: var(--primary);
}

.service-item:hover * {
  color: var(--light) !important;
}

/*** Categories & Courses ***/
.category img,
.course-item img {
  transition: 0.5s;
}

.category a:hover img,
.course-item:hover img {
  transform: scale(1.1);
}

/*** Team ***/
.team-item img {
  transition: 0.5s;
}

.team-item:hover img {
  transform: scale(1.1);
}

/*** Testimonial ***/
.testimonial-carousel::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

.testimonial-carousel::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

@media (min-width: 768px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 300px;
  }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
  background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
  color: #ffffff !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #cccccc;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  font-weight: normal;
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/* Customs */
.container-main {
  padding: 0px !important;
  width: 100%;
}

.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-bit.png') no-repeat center center;
  background-size: contain;
}

/* Custom Form Styles */

/* Poner propeidad a tag form el resto funciona a base de esta propiedad */
.custom-form {
  display: flex;
  flex-direction: column;
}

.mb-3 {
  max-width: 35rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.custom-form label {
  font-size: 1.3rem;
  font-weight: 400;
}
.custom-form input,
select {
  border-radius: 10px;
  font-size: 1.3rem;
  padding: 1rem;
  border: 2px solid #bdbdbd;
}

.textInput {
  border-radius: 10px;
  font-size: 1.3rem;
  padding: 1rem;
  border: 2px solid #bdbdbd;
}

.light-blue-txt {
  color: #3e8acc;
}

.submit-btn {
  padding: 1rem !important;
  border-radius: 10px;
  width: 100%;
}

p {
  font-size: 24px;
  font-weight: 400;
}
.b {
  font-size: 1.3rem;
}

* {
  font-family: 'Nunito', sans-serif;
}

.content-modal form {
  padding-bottom: 5rem;
}

.card {
  min-height: 45rem;
}
.alin {
  margin-top: 3rem;
}

.sub {
  text-align: justify;
  font-size: 16px;
  color: #666666;
}
.negrita {
  font-weight: bold;
}

.item-cont {
  width: 50%;
}

.principalConteiner {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondConteiner {
  width: 100%;
  height: auto;
  flex-direction: row;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-image {
  width: 20%;
  flex-direction: row;
  display: flex;
  padding: 1rem;
}
.card-imageP {
  max-width: 11rem;
  flex-direction: row;
  display: flex;
  padding: 1rem;
}
.info {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.imgg {
  max-width: 300px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.botones {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.mar {
  margin-top: 3rem;
}
.selctF {
  padding-left: 10px;
  border-radius: 20px;
  height: 4rem !important;
}
.btnregister {
  width: 3rem;
  border-radius: 5px;
}

.cardForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.txt-cont {
  width: 40%;
}

.wapper-no-cont {
  min-height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-title {
  width: 50%;
  height: 50%;
  border: solid 0.5rem #15537d;
  padding: 5rem;
  text-align: center;
  border-radius: 1rem;
  /* h1 {
    color: $dark;
  } */
}

.icon {
  font-size: 3rem;
  color: #de9a38;
}

.edit-w {
  width: 30rem;
}

.w-100 {
  width: 100%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  min-height: 55rem;
}

/* text Global colors */
.txt-dark-blue {
  color: #15537d;
}

/* foro */
.floating-btn-foro {
  position: fixed;
  width: 4rem;
  height: 4rem;
  background-color: #666666;
  bottom: 2rem;
  right: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #de9a38;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.floating-btn-foro:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #de9a38 transparent transparent transparent;
  bottom: -10px;
  right: 10px;
}

.foro-cont {
  background-color: #ffffff;
  transition: 1s ease-in-out;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.foro-cont iframe {
  border-radius: 0 0 0.5rem 0.5rem;
}

.top-close-bar {
  padding: 0.2rem 0rem;
  padding-left: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.close-foro {
  text-align: center;
  color: #15537d;
}

.close-foro {
  font-size: 1.2rem;
}

.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Todo-list */
.todolist-modal-height {
  margin: 35rem 0 5rem 0;
}
