/* Variables para colores y tamaños de fuente */
$primary-color: #15537D;
$secondary-color: #d6d6d6;
$font-size: 14px;

/* Estilos para los botones */
.index-register-file__button {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: $font-size;
  color: #fff;
  background-color: $primary-color;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 15px;

  &:hover {
    background-color: darken($primary-color, 15%);
  }
}

/* Estilos para el contenedor principal del formulario */
.index-register-file__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: 0 auto;
}

/* Estilos para el recuadro de instrucciones */
.index-register-file__instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid $secondary-color;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
  width: 100%;
  background: #DE9A38;

  .index-register-file__instructions-title {
    font-size: $font-size * 1.2;
    margin: 0 0 10px;
    color: $primary-color;
    font-weight: bold;
  }

  p {
    font-size: $font-size;
    margin: 0 0 20px;
  }

  a {
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Estilos para los campos de texto */
.index-register-file__form-input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;

  font-size: $font-size;


  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}

/* Estilos para los labels de los campos de texto */
.index-register-file__label {
  display: block;
  margin-bottom: 2px;
  font-size: $font-size;
  font-weight: bold;


}

/* Estilos para el dropdown de cursos */
.index-register-file__select {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid $secondary-color;
  font-size: $font-size;
  width: 100%;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}

/* Estilos para el checkbox de aceptación de condiciones */
.index-register-file__form-checkbox {
  display: flex;
  align-items: center;
  font-size: $font-size;
  margin-bottom: 10px;

  input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
  }
}
/* Estilos para el botón de envío */
.index-register-file__submit-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: $font-size;
  color: #fff;
  background-color: $primary-color;
  border: none;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  pointer-events: none; /* deshabilitamos el botón hasta que estén todos los campos llenos */

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  /* Agregamos estilos al botón cuando está habilitado */
  &.index-register-file__submit-button--enabled {
    opacity: 1;
    pointer-events: auto;
  }
}
